@import '../../../styles/tokens';
@import '../../../styles/mixins';

.container {
  @include flex-center;
  @include flex-column;
  gap: $spacing-md;
  height: 100%;
  color: $color-text-muted;
}

.iconWrapper {
  width: 64px;
  height: 64px;
  border-radius: $radius-lg;
  background-color: rgba($color-text-primary, 0.05);
  @include flex-center;
}

.icon {
  opacity: 0.5;
}

.text {
  font-size: $font-size-sm;
}

